# Algoritmo - Localização Bilhetagem (incluindo terminais e outros)
### Autor: Antônio Claudio Dutra Batista
### Orientador: Francisco Moraes de Oliveria Neto
### Metodologia: Mesclagem por informações coincidentes e critério de tempo

# 1.0  Leitura das Bases

## 1.1 leitura da base - Bilhetagem (Tratamento Inicial)

In [104]:
import pandas as pd 
# Arquivos são do mês de novembro de 2018.
# Definindo tipos de variaveis com tamanhos menores
tipos_specification = {'id': 'int32', 'linha': 'int32'}

# df's abaixo (leitura somente das colunas necessárias):
dia_01 = pd.read_csv('2018-11-01.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification, sep= ',')
dia_02 = pd.read_csv('2018-11-02.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_03 = pd.read_csv('2018-11-03.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_04 = pd.read_csv('2018-11-04.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_05 = pd.read_csv('2018-11-05.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification, sep= ',') 
dia_06 = pd.read_csv('2018-11-06.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_07 = pd.read_csv('2018-11-07.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_08 = pd.read_csv('2018-11-08.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification, sep= ',')
dia_09 = pd.read_csv('2018-11-09.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_10 = pd.read_csv('2018-11-10.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\3162197571.py:16: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dia_10 = pd.read_csv('2018-11-10.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')

In [105]:
# Continuando...
dia_11 = pd.read_csv('2018-11-11.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_12 = pd.read_csv('2018-11-12.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_13 = pd.read_csv('2018-11-13.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_14 = pd.read_csv('2018-11-14.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_15 = pd.read_csv('2018-11-15.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_16 = pd.read_csv('2018-11-16.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_17 = pd.read_csv('2018-11-17.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_18 = pd.read_csv('2018-11-18.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_19 = pd.read_csv('2018-11-19.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification, sep= ',')
dia_20 = pd.read_csv('2018-11-20.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification, sep= ',')

In [106]:
# Continuando...
dia_21 = pd.read_csv('2018-11-21.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_22 = pd.read_csv('2018-11-22.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_23 = pd.read_csv('2018-11-23.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_24 = pd.read_csv('2018-11-24.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_25 = pd.read_csv('2018-11-25.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_26 = pd.read_csv('2018-11-26.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_27 = pd.read_csv('2018-11-27.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_28 = pd.read_csv('2018-11-28.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_29 = pd.read_csv('2018-11-29.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')
dia_30 = pd.read_csv('2018-11-30.csv', usecols=['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao','dia', 'momento'], dtype=tipos_specification,  sep= ',')

In [107]:
# Agrupando (10 dias)
dia_01_10 = pd.concat([dia_01, dia_02, dia_03, dia_04, dia_05, dia_06 ,dia_07, dia_08, dia_09, dia_10])

In [108]:
# Continuando...
dia_11_20 = pd.concat([dia_11, dia_12, dia_13, dia_14, dia_15,dia_16, dia_17, dia_18, dia_19, dia_20])

In [109]:
# Continuando...
dia_21_30 = pd.concat([dia_21, dia_22, dia_23, dia_24, dia_25, dia_26, dia_27, dia_28, dia_29, dia_30])

In [110]:
mes_tudo = pd.concat([dia_01_10, dia_11_20,dia_21_30])

In [111]:
# DELETANDO EXPLICITAMENTE VARAIVEIS COM DIAS 01-10
del dia_01
del dia_02
del dia_03
del dia_04
del dia_05
del dia_06
del dia_07
del dia_08
del dia_09
del dia_10

In [112]:
# DELETANDO EXPLICITAMENTE VARAIVEIS COM DIAS 11-20
del dia_11
del dia_12
del dia_13
del dia_14
del dia_15
del dia_16
del dia_17
del dia_18
del dia_19
del dia_20

In [113]:
# DELETANDO EXPLICITAMENTE VARAIVEIS COM DIAS 21-30
del dia_21
del dia_22
del dia_23
del dia_24
del dia_25
del dia_26
del dia_27
del dia_28
del dia_29
del dia_30

In [114]:
# DELETANDO EXPLICITAMENTE VARAIVEIS COM DIAS 1agrupados
del dia_01_10
del dia_11_20
del dia_21_30

In [115]:
# Caso necessite exportar arquivo da bilhetagem completa
# mes_tudo.to_csv("mes_tudo")

In [116]:
''' FORMATAÇÃO INICIAL '''

' FORMATAÇÃO INICIAL '

In [117]:
# Momentos em ordem do df mes_c_R!
# mes_tudo.sort_values('momento', inplace = True) # Mostrando DF em ORDEM!

In [118]:
# Juntando colunas de interesse (dia, momento) em uma só:
mes_tudo["momento"] = mes_tudo['dia'].astype(str) + '-' + mes_tudo['momento'].astype(str)

In [119]:
# REMOVENDO COLUNAS DESNECESSÁRIAS!
mes_tudo.drop(['dia'], inplace= True, axis=1)

### 1.1.1 Inspeção inicial

In [120]:
# Informações da base
mes_tudo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24919015 entries, 0 to 929957
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int32
 1   linha          int32
 2   nome_linha     object
 3   prefixo_carro  object
 4   tipo_cartao    object
 5   momento        object
dtypes: int32(2), object(4)
memory usage: 1.1+ GB

In [121]:
# Dados nulos 
mes_tudo.isnull().sum()

id                   0
linha                0
nome_linha         906
prefixo_carro    27239
tipo_cartao          0
momento              0
dtype: int64

In [122]:
# Verificando linhas utilizadas 
nomes_linhas = mes_tudo['nome_linha']
nomes_linhas.unique()

array(['Luc. Cavalca./Papicu', 'Parangaba/Centro/Exp',
       'Messejana/Parangaba ', 'MESSEJANA/RODOVIARIA',
       'SIQUEIRA/PAPICU/WASH', 'EXPRESSO/SIQUEIRA/PA',
       'Antonio Bezerra/Siqu', 'Messej/Pap/Camb', 'MESSEJANA/PAPICU/CAM',
       'Siqueira/Messejana/P', 'Dom Luiz            ',
       'Joquei/Bonsucesso   ', 'Grande Circular 1   ',
       'Cj Tancredo Neves/No', 'Cidade Func/Sitio Sa',
       'CIDADE DOS FUNCIONAR', 'Av. Antonio Sales/Di',
       'Parangaba/Nautico   ', 'MESSEJANA/PAPICU/MAN',
       'Siqueira/Papicu/Aero', 'HGF/PAPICU', 'Cidade Func/Cj Alvor',
       'Montese/Parangaba   ', 'Dias Macedo/Cent    ',
       'Ant. Bezerra/Mess/Pe', 'Alvorada / Messejana',
       'PARQUE BETANIA/MESSE', 'DEFENSORIA/PAPICU/VI',
       'Cidade Func/Papicu/C', 'Parangaba / Olivei  ',
       'Grande Circular 2   ', 'Parangaba/Papicu    ', 'SIQ/PAP/WS.',
       'Parangaba/Joao Pesso', 'Jardim Jatoba/Centro',
       'MIGUEL ARRAIS/SIQUEI', 'Siqueira/Joao Pessoa',
       'Jardim Jatoba/Siquei', 'Jardim Jatoba 2     ',
       'Democrito Rocha     ', 'Genibau/Lagoa       ',
       'Vila Manoel Satiro/C', 'Genibau/Centro      ',
       'Pq.Pio XII/Ana Gonca', 'Canindezinho        ',
       'Siqueira/Mucuripe/Ba', 'ARACAPE/PARANGABA 1',
       'Cj Esperanca/Centro ', 'ceara/lagoa/aanjos',
       'Cj Itaperi          ', 'Aguanambi 1         ',
       'Corujao/Montese     ', 'ANTONIO BEZERRA/CENT',
       'Cj Ceara/Centro/2a  ', 'Cj Ceara/Antonio Bez',
       'Cj. Ceara /Aldeo    ', 'Parque Sao Vicente  ',
       'Cj Esperanca/Paranga', 'Pq.Sao Jose/Osorio d',
       'Granja Portugal/Lago', 'Joao  XXIII/Centro  ',
       'Cj Ceara/Centro/3a E', 'Ant. Bez./Fco sa/Pap', 'AB/PAP/PIRA',
       'Jovita Feitosa', 'Antonio Bezerra/Albe', 'Cj Pref. Jose Walter',
       'Plan. Ayrton S/Exped', 'Joao XXIII/Lagoa    ',
       'Arvoredo/Parangaba  ', 'Siqueira/Papicu/13 d',
       'Papicu/Caca Pesca   ', 'Edson Queiroz/Papicu',
       'Lagoa Redonda 1     ', 'Papicu/Cidade 2000  ',
       'Papicu/Castelo Encan', 'Jd. Oliveiras/Centro',
       'Papicu/Cj Alvorada  ', 'Parque Manibura/Borg',
       'Castelo Encantado/Ce', 'MES/PAP / WS', 'Bezerra / S.Dumont',
       'Parangaba/Mucuripe  ', 'Caca e Pesca/Servilu',
       'MESSEJANA/SABIAGUABA', 'Corujao/Av. Paranjan',
       'Cidade Func/Cofeco/L', 'Lagoa Redonda 2     ',
       'Praia do Futuro/Caca', 'EXP/BEZ/SDUM', 'Corujao/Grande Circu',
       'Lagoa Redonda/Abreul', 'Estacao/Pio Saraiva ',
       'CUCA BARRA/PAPICU', 'Jardim Iracema      ',
       'Cj Sao Cristovao    ', 'Cj Tamandare        ',
       'Sitio Sao Joao/Centr', 'Pedras 1            ',
       'Barroso/Jardim Viole', 'Pedras 2            ',
       'Paupina             ', 'Cj Joao Paulo II    ',
       'Parque Santa Rosa/Me', 'Vila do Mar/Centro',
       'RODOLFO TEOFILO/JOSE', 'Corujao/Jd.Guanabara', 'FLORESTA/CENTRO',
       'Cj Palmeiras/Perimet', 'Sitio Sao Joao/Parqu',
       'Messejana/Centro/Br ', 'Itamaraty/Elizabeth ',
       'Guajeru 2           ', 'PLANALTO COACU/MESSE',
       'Parque Santa Maria/M', 'Alto Alegre/Messejan',
       'Cj Palmeiras/Parque ', 'ANTONIO BEZERRA/LAGO',
       'lagoa/aldeota/j.bast', 'Bela Vista/Humberto ',
       'ANTONIO BEZERRA/PAPI', 'Antonio Bezerra/Mucu',
       'Lagoa/Papicu/Via Exp', 'Parangaba/Papicu/Mon',
       'Cj Ceara/Papicu/Mont', 'Pq.Dois Irmaos/Exped',
       'Castelao/Visconde do', 'Cj Veneza Tropical/M',
       'Parangaba/Parque Ver', 'Parangaba/Papicu/Aer',
       'Passare/Messejana', 'Cj Sumare/Parangaba ',
       'Aeroporto/Benfica/Ro', 'Passare / Parangaba',
       'Vila Uniao          ', 'Aerolandia 1        ',
       'Corujao/Parangaba/Pa', 'Corujao/Barroso/Jard',
       'Varjota             ', 'Gereberaba/ Messejan',
       'Sitio Corrego/Parang', 'Cj Jose Walter/Paran',
       'LAGOA REDONDA/PAPICU', 'Campus do Pici/Unifo',
       'Av. Borges de Melo 1', 'Jardim Castelao     ',
       'Jardim Uniao/Paranga', 'Planalto Ayrton Senn',
       'Dias Macedo/Parangab', 'Parangaba/Alto da Pa',
       'Santa Tereza        ', 'PASSARE / CEN       ',
       'Conjunto palmeiras/C', 'EXPRESSO / ANTONIO B',
       'Circular 2          ', 'Antonio Bezerra/Unif',
       'VILA DO MAR / ANTONI', 'Barroso Circular    ',
       'Circular 1          ', 'Francisco Sa/Paranga',
       'Alvaro Weyne/Centro ', 'Beira Rio           ',
       'Antonio Bezerra/Alva', 'ALAMEDA DAS PALMEIRA',
       'PADRE ANDRADE/ANTO  ', 'Aldeota             ',
       'Papicu/Praia do Futu', 'Av. Borges de Melo 2',
       'Corujao/Paupina/Lago', '680-JOSE WALTER / PA',
       'VILA SANTO ANTONIO/R', 'Antonio Bezerra/Mess',
       'Carlos Albuquerque  ', 'Guajeru I           ',
       'Cj Curio            ', 'Av. 13 de Maio 1    ',
       'Parque Americano    ', 'Corujao/Messejana/Ce',
       'Cidade Nova/Parangab', 'SIQUEIRA/P.IRACEMA',
       'LAGOA / ALBERT SABIN', 'Bezerra de Menezes/ ',
       'PARQUE ST MARIA/ LIC', 'CONJ. PALMEIRAS/ HOS',
       'PARQUEL/PARANGABA', 'Cidade Func/Papicu/J',
       'Edson Queiroz/Centro', 'CIDADE JARDIM/PARANG',
       'Cidade 2000/Centro  ', 'PAUPINA/PICI', 'Antonio Bezerra     ',
       'Igreja Sao Raimundo ', 'AV LINEU MACHADO/SP2',
       'Av. Lineu Machado', 'CIDADE 2000/ SARGENT',
       'Messejana/Sabiaguaba', 'LAGOA REDONDA/ABREUL',
       'Siqueira/Jose Bastos', 'Cj Ceara/4a Etapa   ',
       'Messejana/Frei Ciril', 'Cj Esperanca/Siqueir',
       'Av. 13 de Maio 2    ', 'Corujao/Cj Ceara    ',
       'Parque Santana      ', 'Corujao/Cj Esperanca',
       'JOSE WALTER/ CENTRO', 'CIDADE NOBRE/MESSEJA',
       'GRANJA LISBOA/ GOIAB', 'CONJ. CEARA/ GRANJA ',
       'Aguanambi 2         ', 'Antonio Bezerra/Naut',
       'VILA VELHA/ CENTRO', 'BARRA DO CEARA/ CAIS',
       'Bela Vista/Lagoa    ', 'Corujao/Cj Ceara/Pap',
       'SANTOS DUMONT/ PERIM', 'Montese/Lagoa       ',
       'Cj Ceara/Lagoa/F.Tav', 'Cj Ceara/Siqueira   ', 'ARACAPE/CENTRO',
       'SANTA FE 02', 'Quintino Cunha/Anton', 'Cuca Barra/Parangaba',
       'PQ. SAO JOAO / SIQUE', 'Cj Ceara/Granja Lisb',
       'Corujao/Cj Ceara/Ald', 'Parque Universitario',
       'Jd.Guanabara/N. A. 2', 'TERMINAL PARANGABA',
       'Bela Vista/Viriato R', 'LAGOA/OPAIA', 'Jd.Guanabara/N. A. 1',
       'Jardim Guanabara/Fra', 'Cj Nova Assuncao/Fra',
       'Campus Univ./Pan Ame', 'Henrique Jorge      ',
       'Av. Sargento Hermini', 'Corujao/Av. Bezerra ',
       'Aracape/Parangaba   ', 'Parque Presidente Va',
       'Itaoca/Jardim Americ', 'Modubim/Siqueira    ',
       'CJ NOVO LAR/SIQUEIRA', 'Castelao/Parangaba  ',
       'Planalto Granja Lisb', 'ANTONIO BEZERRA/PARA',
       'Siqueira/Lagoa      ', 'SANTA MARIA/BAIRRO E', 'LINHA CENTRAL',
       'Corujao/Edson Queiro', 'Parque Santa Cecilia', 'Conj. Tatu Munde',
       'Parque Santa Rosa/Si', 'Parque Jerusalem    ',
       'Bom Jardim/Centro', 'Siqueira/V.M.S./PARA',
       'Jardim Fluminense   ', 'Bom Jardim 1        ',
       'Bom Jardim 2        ', 'Parque Santa Maria/S',
       'Joao Arruda         ', 'Vila Betania/Paranga',
       'Vila Sto. Antonio/Ns', 'Corujao/Pedras', 'Antonio Bezerra / Pa',
       'Cj Sao Bernardo     ', 'Meireles            ',
       'Papicu/Serviluz/Varj', 'Olavo Oliveira/Vila ',
       'VILA VELHA/RIOMAR KE', 'Av. Jose Bastos     ', 'TERM.ANT.BEZERRA',
       'ARACAPE/SIQUEIRA ', 'NOVA ESPERANCA/SIQUE', 'TERMINAL PAPICU',
       'CONJ. CEARA/CENTRO', 'CACA E PESCA/ CENTRO',
       'CONJ. ALVORADA/ NORT', 'Caca e Pesca/Centro/',
       'BARRA DO CEARA/ANTON', 'Parque Univ./Ant. Be',
       'CJ CEARA/BOM JARDIM/', 'Cj Ceara/Bom Jardim ',
       'Corujao/Bom Jardim  ', 'Siqueira/OP/Parangab',
       'Autran Nunes        ', 'Intershoppings', 'LAGOA/RIOMAR/JOSE JA',
       'Cj Ceara/1a Etapa', 'AEROPORTO/BEIRA MAR', 'SIT CURIO/MESS',
       'Conj. Maria Tomasia/', 'Bairro de Fatima    ',
       'Canindezinho/Urucutu', 'PARANGABA/UECE/LUCIA',
       'Corujao/Praia do Fut', 'Dom Lustosa         ',
       'TERMINAL MESSEJANA', 'Antonio Bezerra/Papi', 'EXP/A.BEZ/MES',
       'TERMINAL SIQUEIRA', 'TERMINAL CEARA', 'TERMINAL LAGOA',
       'Corujao/Jardim Irace', 'Corujao/Circular 1  ',
       'Corujao/Cj Pref. Jos', 'CORUJAO/JOSE BASTOS/',
       'Corujao/Av. Sargento', 'Corujao/Aeroporto/Be',
       'JOSE WALTER/CIDADE J', 'CONJUNTO DONA YOLAND',
       'Corujao/Jose Bastos/', 'Siqueira/Mucuripe   ',
       'SIQUEIRA/PARQUE DA S', 'Papicu/Hospital Gera',
       'PAPICU/PRAIA DO FUTU', 'SIQUEIRA/CEMITERIO B',
       'VILA DO MAR/NAUTICO ', 'Conj. Ceara / Cemite',
       'MONTESE/LAGOA/PARANG', 'PARANGABA/PAULO SARA',
       'Vila do Mar/ Centro ', 'ANT. BEZERRA/PAULO S',
       'SIQUEIRA/PAULO SARAS', 'CAMPOS DO PICI', 'MESSEJANA/PAULO SARA',
       'PAPICU/PAULO SARASAT', 'Parangaba/Lagoa     ', nan,
       'Siqueira/Centro/Expr', 'PARANGABA/NAUTICO II',
       'EXPRESSO/PARANGABA/P', 'EXP/ANTB/PAR', 'CONJ. CEARA/PAULO SA',
       'Expresso/Cj Ceara/Pa', 'VILA VELHA/NORTH SHO',
       'AEROLANDIA/SP2    ', 'EXPRESSO/MESSEJANA/P', 'Castelao/Lagoa',
       'PARANGABA - NORTH SH', 'SEUMA/ARENA CASTELAO',
       'Siq/Mucuripe/Ba II', 'Anto Bezerra/Unif II',
       'Parang/Papicu/Mon II', 'ESPECIAL', 'Castelao/Antonio Bez'],
      dtype=object)

In [123]:
# Visualisando dados de identifcação dos veciulos nulos
veiclulos_nao_identificados = mes_tudo[mes_tudo['prefixo_carro'].isnull()]
df_nao_identificados =  veiclulos_nao_identificados['nome_linha'].value_counts()

In [124]:
df_nao_identificados

TERMINAL SIQUEIRA       21995
GRANJA LISBOA/ GOIAB     5244
Name: nome_linha, dtype: int64

In [125]:
''' Ou seja, duas linhas tiveram dados nulos de identificação dos veiculos'''

' Ou seja, duas linhas tiveram dados nulos de identificação dos veiculos'

In [126]:
# Visualisando dados de identifcação dos nomes das linhas nulos
nome_linha_nao_identificados = mes_tudo[mes_tudo['nome_linha'].isnull()]

In [127]:
nome_linha_nao_identificados

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
2628,5559333,811,NaN,30103.0,Estudante,2018-11-04-18:51:23
2629,5853453,811,NaN,30103.0,Vale transporte,2018-11-04-18:57:58
2630,2612929,811,NaN,30103.0,Estudante,2018-11-04-18:11:58
2631,2787412,811,NaN,30103.0,Estudante,2018-11-04-18:13:11
2632,2544623,811,NaN,30103.0,Estudante,2018-11-04-18:14:19
...,...,...,...,...,...,...
371391,5584087,811,NaN,30128.0,Estudante,2018-11-11-17:13:48
371392,2551369,811,NaN,30128.0,Estudante,2018-11-11-17:14:19
371393,2914181,811,NaN,30128.0,Estudante,2018-11-11-17:26:15
382051,4408847,811,NaN,30323.0,Vale transporte,2018-11-11-18:07:14
382052,533979,811,NaN,30323.0,Estudante,2018-11-11-18:07:41

In [128]:
''' Obs: Nomes da linhas nulos não é um problema, pois se tem o id de identificação delas na coluna linha! '''

' Obs: Nomes da linhas nulos não é um problema, pois se tem o id de identificação delas na coluna linha! '

### 1.1.2 Tratamento da base para localização de validações fora de terminais

In [129]:
# Memoria liberou 0.2 gb
mes_tudo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24919015 entries, 0 to 929957
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int32
 1   linha          int32
 2   nome_linha     object
 3   prefixo_carro  object
 4   tipo_cartao    object
 5   momento        object
dtypes: int32(2), object(4)
memory usage: 1.1+ GB

In [130]:
mes1 = mes_tudo

In [131]:
# Excluindo explicitamente variavel com bilhetagem desnecessária
del mes_tudo

In [132]:
mes1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24919015 entries, 0 to 929957
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int32
 1   linha          int32
 2   nome_linha     object
 3   prefixo_carro  object
 4   tipo_cartao    object
 5   momento        object
dtypes: int32(2), object(4)
memory usage: 1.1+ GB

In [133]:
mes1["momento"] = pd.to_datetime(mes1["momento"], format= '%Y-%m-%d-%H:%M:%S')

In [134]:
# Removendo dados nulos na coluna prefixo_carro
mes_ = mes1.dropna(subset = ['prefixo_carro'])

In [135]:
# Excluindo explicitamente variavel com bilhetagem desnecessária
del mes1

In [136]:
# Removendo identificação de veiculos com caracteris da coluna de prefixo_carro
mes = mes_[pd.to_numeric(mes_['prefixo_carro'], errors='coerce').notnull()]

In [137]:
# Trasnformando coluna de prefixo carro em inteiro
mes['prefixo_carro'] = mes['prefixo_carro'].astype('int32')

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\119345733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mes['prefixo_carro'] = mes['prefixo_carro'].astype('int32')

In [138]:
mes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24891059 entries, 0 to 929957
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int32
 1   linha          int32
 2   nome_linha     object
 3   prefixo_carro  int32
 4   tipo_cartao    object
 5   momento        datetime64[ns]
dtypes: datetime64[ns](1), int32(3), object(2)
memory usage: 1.0+ GB

In [139]:
# Última versão do df MES
mes

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
0,7407715,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 23:57:37
1,4526990,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-02 00:01:25
2,6084812,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:45:20
3,7341826,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:45:36
4,7261888,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:52:44
...,...,...,...,...,...,...
929953,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:54:09
929954,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:54:35
929955,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:59:20
929956,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 06:04:11
929957,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:17:14

In [294]:
24891059-3289838

21601221

## 1.2 leitura da base dicionário e identificação de validações em terminais

### 1.2.1 leitura e tratamento da base dicionário

In [141]:
# df', abaixo:
d1 = pd.read_csv('veiculos2018.csv', sep= ';')

In [142]:
# Mostrando Df
display(d1)

      id_veiculo cod_veiculo
0          42095      20274M
1          42080       20957
2          41971       26815
3          41970       26821
4          41969       26819
...          ...         ...
2036       32033       36006
2037       32032       36004
2038       32031       36003
2039       32030       36002
2040       32029       36001

[2041 rows x 2 columns]

In [143]:
''' Verificamos dados que contem dados com strings '''

' Verificamos dados que contem dados com strings '

In [144]:
''' IREMOS REMOVER ESSES DADOS E DEPOIS VERIFICAR, MAS A PRINCIPIO IREMOS VER OS DUPLICADOS DA BASE BRUTA: '''

' IREMOS REMOVER ESSES DADOS E DEPOIS VERIFICAR, MAS A PRINCIPIO IREMOS VER OS DUPLICADOS DA BASE BRUTA: '

In [145]:
# visualizando DUPLICADOS 
d1[d1['cod_veiculo'].duplicated(keep=False)]

      id_veiculo cod_veiculo
334        37922       26103
1897       32305       26103

In [146]:
''' NÃO FAZ SENTIDO TER MAIS DE UMA IDENTIFCAÇÃO PARA UM MESMO VEICULO NA BASE DO GPS, LOGO, OS DADOS DA COLUNA COD_VEICULO DEVEM TER VALORES UNICOS! '''

' NÃO FAZ SENTIDO TER MAIS DE UMA IDENTIFCAÇÃO PARA UM MESMO VEICULO NA BASE DO GPS, LOGO, OS DADOS DA COLUNA COD_VEICULO DEVEM TER VALORES UNICOS! '

In [147]:
d1.drop_duplicates(inplace=True)

In [148]:
# Removendo identificação de veiculos com caracteres da coluna de cod_veiculo
d01 = d1[pd.to_numeric(d1['cod_veiculo'], errors='coerce').notnull()]

In [154]:
d01['cod_veiculo'] = d01['cod_veiculo'].astype('int32')
d01['id_veiculo'] = d01['id_veiculo'].astype('int32')

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\1785617397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d01['cod_veiculo'] = d01['cod_veiculo'].astype('int32')
C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\1785617397.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d01['id_veiculo'] = d01['id_veiculo'].astype('int32')

### 1.2.2 Identificação de validações em terminais

In [155]:
# Verificando dados que estão na bilhetagem (prefixo_carro), mas não estão no dicionário e consequentemente não estão no GPS
dados_apenas_em_mes_ = mes[~mes['prefixo_carro'].isin(d01['cod_veiculo'])]

In [156]:
dados_apenas_em_mes_

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
1296,7165982,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:22:49
1297,7455408,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:21
1298,7360199,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:31
1299,7360332,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 23:22:33
1300,7119083,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 22:56:38
...,...,...,...,...,...,...
928070,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 01:15:58
928071,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 01:16:35
928072,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 01:36:28
928073,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 01:47:36
928074,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 00:03:20

In [157]:
dados_apenas_em_mes_.isnull().sum()

id               0
linha            0
nome_linha       0
prefixo_carro    0
tipo_cartao      0
momento          0
dtype: int64

In [158]:
# Verificando dados que estão na bilhetagem (prefixo_carro), mas não estão no dicionário e consequentemente não estão no GPS
dados_apenas_em_mes_ = mes[~mes['prefixo_carro'].isin(d01['cod_veiculo'])]# Filtrando linhas em terminais
df_terminais_filtro_01 = dados_apenas_em_mes_[dados_apenas_em_mes_['nome_linha'].str.contains( 'TERMINAL')]

#  Por inspeção foi identificado outra nomelcatura para o terminal (ANT.BEZERRA)
df_terminais_filtro_02  = dados_apenas_em_mes_[dados_apenas_em_mes_['nome_linha'].str.contains('TERM.ANT.BEZERRA')]

In [159]:
# Verificando quantidade de validações em terminais filtro_01
df_terminais_filtro_01['nome_linha'].value_counts()

TERMINAL PARANGABA    397792
TERMINAL MESSEJANA    175306
TERMINAL SIQUEIRA     112602
TERMINAL PAPICU        70957
TERMINAL LAGOA         68089
TERMINAL CEARA         66161
Name: nome_linha, dtype: int64

In [160]:
# Verificando quantidade de validações em terminais filtro_02
df_terminais_filtro_02['nome_linha'].value_counts()

TERM.ANT.BEZERRA    218982
Name: nome_linha, dtype: int64

In [161]:
# JUNTANDO DADOS DE TERMINAIS EM UMA UNICA BASE 
df_terminais = pd.concat([df_terminais_filtro_01,df_terminais_filtro_02])

In [162]:
del df_terminais_filtro_01
del df_terminais_filtro_02

In [163]:
# Base com TERMINAIS
df_terminais

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
41777,2277640,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:59:22
41778,393112,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 21:43:06
41779,7334874,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:03:26
41780,7505147,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:14:35
41781,6970753,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 18:02:04
...,...,...,...,...,...,...
886252,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:54:44
886253,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:13
886254,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:22
886255,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:51
886256,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:59:11

In [164]:
df_terminais['nome_linha'].unique()

array(['TERMINAL PARANGABA', 'TERMINAL PAPICU', 'TERMINAL MESSEJANA',
       'TERMINAL SIQUEIRA', 'TERMINAL CEARA', 'TERMINAL LAGOA',
       'TERM.ANT.BEZERRA'], dtype=object)

In [165]:
''' É possivel verificar que o terminal siqueira tinha dados nulos, mas ele é filtrado e fica na varaivel df_terminais, logo a localização dele sera incluso ja nessa varivel! '''

' É possivel verificar que o terminal siqueira tinha dados nulos, mas ele é filtrado e fica na varaivel df_terminais, logo a localização dele sera incluso ja nessa varivel! '

In [166]:
''' Sendo assim é possivel verificar as validações por meio do mesmo id_veiculo e usando o criteiro de tempo, ja os dados dos terminais será usado o metodo de localização desses dados na variavel df_terminais! '''

' Sendo assim é possivel verificar as validações por meio do mesmo id_veiculo e usando o criteiro de tempo, ja os dados dos terminais será usado o metodo de localização desses dados na variavel df_terminais! '

In [167]:
''' PARA PARADAS EM BRT´S NÃO SE TEM O NOME DAS ESTACOES AO LONGO DAS LINAS, LOGO NÃO SERÁ POSSIVEL LOCALIZAR ESSAS VALIDAÇÕES!'''

' PARA PARADAS EM BRT´S NÃO SE TEM O NOME DAS ESTACOES AO LONGO DAS LINAS, LOGO NÃO SERÁ POSSIVEL LOCALIZAR ESSAS VALIDAÇÕES!'

## 1.3 leitura do base - GPS (Tratamento INICIAL)

In [168]:
import pandas as pd

# Definindo o número de linhas que você deseja ler
numero_de_linhas_para_ler = 45000000  # Substitua pelo número desejado
dtype_specification = {'longitude': 'float32', 'latitude': 'float32', 'vehicle_vehicleid': 'int32'}

# Usando o pandas para ler o CSV, limitando o número de linhas com a opção nrows
mes_ate_45_milhoes = pd.read_csv('Paint112018.csv',usecols=['latitude', 'longitude', 'metrictimestamp', 'vehicle_vehicleid'], dtype=dtype_specification, nrows=numero_de_linhas_para_ler)

In [169]:
# Lendo restante do arquivo
mes_resto = pd.read_csv('Paint112018.csv', usecols=['latitude', 'longitude','metrictimestamp', 'vehicle_vehicleid'],dtype=dtype_specification, skiprows=range(1, numero_de_linhas_para_ler + 1))

In [170]:
# Juntando em um mesmo df
GPS_I_H =  pd.concat([mes_ate_45_milhoes, mes_resto])

In [171]:
# Excluindo explicitamente variavel com dados do GPS separados
del mes_ate_45_milhoes
del mes_resto

In [172]:
display(GPS_I_H.iloc[275])

latitude            -3.725625e+00
longitude           -3.855716e+01
metrictimestamp      2.018120e+13
vehicle_vehicleid    3.909400e+04
Name: 275, dtype: float64

In [173]:
GPS_I_H.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109792980 entries, 0 to 64792979
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   latitude           float32
 1   longitude          float32
 2   metrictimestamp    int64
 3   vehicle_vehicleid  int32
dtypes: float32(2), int32(1), int64(1)
memory usage: 2.9 GB

In [174]:
# FORMATANDO metrictimestamp do (GPS)
GPS_I_H['momento'] = pd.to_datetime(GPS_I_H['metrictimestamp'],format= '%Y%m%d%H%M%S')

In [175]:
GPS_I_H.drop("metrictimestamp", axis= 1, inplace= True)

In [176]:
# Renomear coluna de momento de vehicle_vehicleid para id_veiculo:
GPS_I_H.columns=['latitude', 'longitude','id_veiculo', 'momento']

In [177]:
# Colocando valores em ordem
GPS_I_H.sort_values('momento', inplace= True)

# 2.0 Junção da bilhetagem com o dicionário

In [178]:
# Filtrando que estão na bilhetagem e estão no dicionário e consequentemente estão no GPS
dados_em_mes_GPS_ = mes[mes['prefixo_carro'].isin(d01['cod_veiculo'])]

In [179]:
dados_em_mes_GPS_.reset_index(inplace=True)

In [180]:
dados_em_mes_GPS_.drop(columns=['index'], inplace=True)

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\2342148454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_em_mes_GPS_.drop(columns=['index'], inplace=True)

In [181]:
dados_em_mes_GPS_.isnull().sum()

id                 0
linha              0
nome_linha       906
prefixo_carro      0
tipo_cartao        0
momento            0
dtype: int64

In [182]:
dados_em_mes_GPS_

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
0,7407715,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 23:57:37
1,4526990,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-02 00:01:25
2,6084812,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:45:20
3,7341826,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:45:36
4,7261888,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:52:44
...,...,...,...,...,...,...
21601216,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:54:09
21601217,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:54:35
21601218,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:59:20
21601219,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 06:04:11
21601220,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:17:14

In [183]:
# Acrescentando dicionário
mes_d1 = dados_em_mes_GPS_.merge(d01, left_on= 'prefixo_carro', right_on='cod_veiculo', how= 'left')

In [184]:
mes_d1.isnull().sum()

id                 0
linha              0
nome_linha       906
prefixo_carro      0
tipo_cartao        0
momento            0
id_veiculo         0
cod_veiculo        0
dtype: int64

In [185]:
# Base da Bilhetagem adicionado o dicionario
mes_d1

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo
0,7407715,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 23:57:37,32174,2018
1,4526990,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-02 00:01:25,32174,2018
2,6084812,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:45:20,32174,2018
3,7341826,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:45:36,32174,2018
4,7261888,21,Luc. Cavalca./Papicu,2018,Vale transporte,2018-11-01 22:52:44,32174,2018
...,...,...,...,...,...,...,...,...
21610576,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:54:09,38563,21710
21610577,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:54:35,38563,21710
21610578,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:59:20,38563,21710
21610579,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 06:04:11,38563,21710
21610580,0,114,Cj Nova Assuncao/Fra,21710,Inteira,2018-11-30 05:17:14,38563,21710

In [186]:
mes_d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21610581 entries, 0 to 21610580
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int32
 1   linha          int32
 2   nome_linha     object
 3   prefixo_carro  int32
 4   tipo_cartao    object
 5   momento        datetime64[ns]
 6   id_veiculo     int32
 7   cod_veiculo    int32
dtypes: datetime64[ns](1), int32(5), object(2)
memory usage: 1.0+ GB

In [187]:
# Criando df somente colunas necessátrias para a integração no tópico 03!
mes_geo = mes_d1.sort_values('momento')

In [188]:
del mes_d1

In [189]:
# Reiniciando a contagem dos index
mes_geo.reset_index(inplace=True)

In [190]:
# REMOVENDO COLUNA DESNECESSÁRIA!
mes_georr = mes_geo.drop(['index'], axis=1)

In [191]:
mes_georr['id_veiculo'] = mes_georr['id_veiculo'].astype('int32')

In [192]:
mes_georr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21610581 entries, 0 to 21610580
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int32
 1   linha          int32
 2   nome_linha     object
 3   prefixo_carro  int32
 4   tipo_cartao    object
 5   momento        datetime64[ns]
 6   id_veiculo     int32
 7   cod_veiculo    int32
dtypes: datetime64[ns](1), int32(5), object(2)
memory usage: 906.8+ MB

In [193]:
del mes_geo

# 3.0 Integração da coordenada aproxima na bilhetagem

## 3.1 Coordenada aproximada do ônibus na bilhetagem (localização de validações fora de terminais e BRT)

In [194]:
# Coordenada mais proxima do ônibus é extraída da base de GPS e integrada na base da bilhetagem (SOMENTE COLUMAS MOMENTO E ID)
mes_d1_GPS_ = pd.merge_asof(mes_georr, GPS_I_H, left_on='momento', right_on='momento', by='id_veiculo', direction ='nearest')

In [195]:
mes_d1_GPS_.isnull().sum()

id                     0
linha                  0
nome_linha           906
prefixo_carro          0
tipo_cartao            0
momento                0
id_veiculo             0
cod_veiculo            0
latitude         1619385
longitude        1619385
dtype: int64

In [196]:
mes_d1_GPS_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21610581 entries, 0 to 21610580
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int32
 1   linha          int32
 2   nome_linha     object
 3   prefixo_carro  int32
 4   tipo_cartao    object
 5   momento        datetime64[ns]
 6   id_veiculo     int32
 7   cod_veiculo    int32
 8   latitude       float32
 9   longitude      float32
dtypes: datetime64[ns](1), float32(2), int32(5), object(2)
memory usage: 1.2+ GB

In [197]:
# Removedo dados duplicados de validações devido merge com duas associações de prefixo_carro com cod_veiculo do dicionario
mes_d1_GPS = mes_d1_GPS_.drop_duplicates(['id', 'momento', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao', 'cod_veiculo'])

In [198]:
''' FORAM REMOVIDAS AS VALIDAÇÕES DE UM MESMO USUARIO, PARA O MESMO MOMENTO E MESMO VEICULO UTILIZADO (identificação_dicionario), POIS POSSIVELMENTE É O DAODS DUPLICADO NO MERGE DA BILHETAGEM COM O DICIONARIO! '''

' FORAM REMOVIDAS AS VALIDAÇÕES DE UM MESMO USUARIO, PARA O MESMO MOMENTO E MESMO VEICULO UTILIZADO (identificação_dicionario), POIS POSSIVELMENTE É O DAODS DUPLICADO NO MERGE DA BILHETAGEM COM O DICIONARIO! '

In [199]:
mes_d1_GPS.reset_index(inplace=True)
mes_d1_GPS.drop(['index'], inplace=True, axis=1)

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\1461081780.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mes_d1_GPS.drop(['index'], inplace=True, axis=1)

In [200]:
# Base da bilhetagem localizada 
mes_d1_GPS

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo,latitude,longitude
0,6495289,95,Corujao/Cj Pref. Jos,26407,Gratuidade,2018-11-01 00:01:21,32409,26407,-3.838164,-38.558586
1,0,54,Corujao/Praia do Fut,30426,Inteira,2018-11-01 00:11:05,33276,30426,-3.740973,-38.539021
2,6730926,57,Corujao/Jardim Irace,35120,Vale transporte,2018-11-01 00:12:16,33801,35120,-3.722791,-38.530235
3,4841184,57,Corujao/Jardim Irace,35120,Vale transporte,2018-11-01 00:12:30,33801,35120,-3.722791,-38.530235
4,7317420,90,Corujao/Montese,12219,Vale transporte,2018-11-01 00:13:58,33637,12219,-3.780263,-38.570004
...,...,...,...,...,...,...,...,...,...,...
21601180,6324055,56,Corujao/Grande Circu,2313,Vale transporte,2018-12-01 04:45:32,32786,2313,-3.803030,-38.503075
21601181,7542863,56,Corujao/Grande Circu,2313,Vale transporte,2018-12-01 04:48:07,32786,2313,-3.803030,-38.503075
21601182,7114601,56,Corujao/Grande Circu,2313,Vale transporte,2018-12-01 04:48:24,32786,2313,-3.803030,-38.503075
21601183,273038,56,Corujao/Grande Circu,2313,Estudante,2018-12-01 04:48:33,32786,2313,-3.803030,-38.503075
21601184,0,56,Corujao/Grande Circu,2313,Inteira,2018-12-01 04:48:46,32786,2313,-3.803030,-38.503075

In [201]:
del GPS_I_H

## 3.2 Coordenada aproximada dos terminais na bilhetagem

### 3.2.1 Importando dados no formato GTFS

In [202]:
# Reatribuindo variavel com dados de validações em terminais
df_terminais_validacoes = df_terminais

In [203]:
del df_terminais

In [204]:
df_terminais_validacoes.reset_index(inplace=True)

In [205]:
df_terminais_validacoes.drop(['index'], inplace=True, axis=1)

In [206]:
# BASE COM VALIDAÇÕES FEITAS NOS TERMINAIS 
df_terminais_validacoes

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
0,2277640,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:59:22
1,393112,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 21:43:06
2,7334874,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:03:26
3,7505147,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:14:35
4,6970753,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 18:02:04
...,...,...,...,...,...,...
1109884,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:54:44
1109885,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:13
1109886,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:22
1109887,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:51
1109888,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:59:11

In [207]:
df_terminais_validacoes['nome_linha'].unique()

array(['TERMINAL PARANGABA', 'TERMINAL PAPICU', 'TERMINAL MESSEJANA',
       'TERMINAL SIQUEIRA', 'TERMINAL CEARA', 'TERMINAL LAGOA',
       'TERM.ANT.BEZERRA'], dtype=object)

In [208]:
# Importando base com locais previstos de parada
stops_paradas = pd.read_csv('stops.txt', sep= ',')

In [209]:
# Removendo colunas desnecessárias do df com paradas 
stops_paradas.drop(columns= ['stop_code', 'stop_desc', 'zone_id', 'stop_url', 'location_type', 'parent_station', 'stop_timezone', 'wheelchair_boarding'], inplace=True)

In [210]:
stops_paradas

      stop_id                        stop_name  stop_lat   stop_lon
0          10       AVENIDA CEL CARVALHO, 1180 -3.702286 -38.590602
1        1000        RUA DOR JOAO MOREIRA, 489 -3.722157 -38.528991
2        1001        RUA DOR JOAO MOREIRA, 163 -3.723169 -38.526007
3        1009   AVENIDA TRISTÃO GONÇALVES, 500 -3.725926 -38.532847
4        1010           AVENIDA IMPERADOR, 550 -3.726137 -38.534206
...       ...                              ...       ...        ...
4533      991   RUA MON CARNEIRO DA CUNHA, 149 -3.724630 -38.541716
4534      992          RUA PEDRO PEREIRA, 1530 -3.726388 -38.538707
4535      993          RUA CASTRO E SILVA, 950 -3.721771 -38.533664
4536      994  AVENIDA PRS CASTELO BRANCO, 615 -3.719262 -38.531967
4537      999   AVENIDA PRS CASTELO BRANCO, NI -3.720936 -38.528643

[4538 rows x 4 columns]

In [211]:
''' POR INSPEÇÃO FOI VERIFICADO QUE A LOCALIZAÇÃO PARA VALIDAÇÃO EM TERMINAIS SÃO NOMEADOS COMO PREÇAS_Nomedoterminal'''

' POR INSPEÇÃO FOI VERIFICADO QUE A LOCALIZAÇÃO PARA VALIDAÇÃO EM TERMINAIS SÃO NOMEADOS COMO PREÇAS_Nomedoterminal'

In [212]:
# FILTRANDO LOCAIS DAS PRAÇAS NOS TERMINAIS QUE POSSUEM A LOCCALIZAÇÃO
terminais_geometry_ = stops_paradas[stops_paradas['stop_name'].str.contains('TERM')]

In [213]:
# Reiniciando a contagem do indice 
terminais_geometry_.reset_index(inplace=True)

In [214]:
terminais_geometry = terminais_geometry_.drop_duplicates(subset=['stop_name'])

In [215]:
# Dropando coluna desnecessaria
terminais_geometry.drop(columns=['stop_id'], inplace=True)
terminais_geometry.drop(2, inplace= True)

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\1016374250.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terminais_geometry.drop(columns=['stop_id'], inplace=True)
C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\1016374250.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terminais_geometry.drop(2, inplace= True)

In [216]:
terminais_geometry.rename(columns={'stop_lat': 'latitude', 'stop_lon': 'longitude'}, inplace=True)

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\1450051314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terminais_geometry.rename(columns={'stop_lat': 'latitude', 'stop_lon': 'longitude'}, inplace=True)

In [217]:
# Adequando nomes dos terminais para mesclagem
nome_procurado_1 = 'PRAÇA TERMINAL PARANGABA, SN' 
nome_procurado_2 = 'PRAÇA TERMINAL PAPICU, SN' 
nome_procurado_3 = 'PRAÇA TERMINAL MESSEJANA, SN' 
nome_procurado_4 = 'PRAÇA TERMINAL SIQUEIRA, SN' 
nome_procurado_5 = 'PRAÇA TERMINAL CONJUNTO CEARÁ, SN' 
nome_procurado_6 = 'PRAÇA TERMINAL LAGOA, SN' 
nome_procurado_7 = 'PRAÇA TERMINAL ANTONIO BEZERRA, SN'

# Localizando a linha com base no nome e, em seguida, atualizando os valores desejados
terminais_geometry.loc[terminais_geometry['stop_name'] == nome_procurado_1, 'stop_name'] = 'TERMINAL PARANGABA' 
terminais_geometry.loc[terminais_geometry['stop_name'] == nome_procurado_2, 'stop_name'] = 'TERMINAL PAPICU' 
terminais_geometry.loc[terminais_geometry['stop_name'] == nome_procurado_3, 'stop_name'] = 'TERMINAL MESSEJANA' 
terminais_geometry.loc[terminais_geometry['stop_name'] == nome_procurado_4, 'stop_name'] = 'TERMINAL SIQUEIRA'  
terminais_geometry.loc[terminais_geometry['stop_name'] == nome_procurado_5, 'stop_name'] = 'TERMINAL CEARA'  
terminais_geometry.loc[terminais_geometry['stop_name'] == nome_procurado_6, 'stop_name'] = 'TERMINAL LAGOA' 
terminais_geometry.loc[terminais_geometry['stop_name'] == nome_procurado_7, 'stop_name'] = 'TERM.ANT.BEZERRA'

In [218]:
terminais_geometry.drop(columns=['index'], inplace=True)

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\1562193393.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  terminais_geometry.drop(columns=['index'], inplace=True)

In [219]:
# BASE COM LOCALIZAÇÃO DOS TERMINAIS 
terminais_geometry

             stop_name  latitude  longitude
0   TERMINAL MESSEJANA -3.831484 -38.501933
3       TERMINAL LAGOA -3.770631 -38.570298
4       TERMINAL CEARA -3.772986 -38.607545
6    TERMINAL SIQUEIRA -3.789329 -38.586833
8   TERMINAL PARANGABA -3.776384 -38.563162
9      TERMINAL PAPICU -3.738568 -38.484761
13    TERM.ANT.BEZERRA -3.737439 -38.583885

### 3.2.2 Adicioando localização nas validações dos terminais 
''' Com a localização dos terminais ja determindas, é possivel adiconar essa informações nas validações da bilhetagem nesses locais '''

In [220]:
# MESCLANDO PELO NOME DA LINHA DA BILHETEGEM E O NOME DA PARADA CORRESPONDENTE AS SUAS RESPECTIVAS LINHAS 
mes_terminais_geometry = df_terminais_validacoes.merge(terminais_geometry, left_on= 'nome_linha', right_on='stop_name')

In [221]:
# Reiniciando a contagem do indice e dropando index
mes_terminais_geometry.reset_index(inplace=True)
mes_terminais_geometry.drop(columns=['index', 'stop_name'], inplace=True)

In [222]:
# CRIANDO COLUNA ID_LINHA E COD_VEICULO PARA COLOCAR DADOS DE VALIDAÇÕES LOCALIZADOS EM UMA UNICA BASE!
mes_terminais_geometry['id_veiculo'] = 'validacao_terminal'
mes_terminais_geometry['cod_veiculo'] = 'validacao_terminal'

In [223]:
# Reordenando colunas 
dados_terminais_geo = mes_terminais_geometry[['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao', 'momento', 'id_veiculo', 'cod_veiculo', 'latitude', 'longitude']]

In [224]:
del mes_terminais_geometry

In [225]:
# Base com dados da bilhetagem localizada em terminais
dados_terminais_geo

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo,latitude,longitude
0,2277640,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:59:22,validacao_terminal,validacao_terminal,-3.776384,-38.563162
1,393112,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 21:43:06,validacao_terminal,validacao_terminal,-3.776384,-38.563162
2,7334874,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:03:26,validacao_terminal,validacao_terminal,-3.776384,-38.563162
3,7505147,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 22:14:35,validacao_terminal,validacao_terminal,-3.776384,-38.563162
4,6970753,3,TERMINAL PARANGABA,12988,Estudante,2018-11-01 18:02:04,validacao_terminal,validacao_terminal,-3.776384,-38.563162
...,...,...,...,...,...,...,...,...,...,...
1109884,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:54:44,validacao_terminal,validacao_terminal,-3.737439,-38.583885
1109885,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:13,validacao_terminal,validacao_terminal,-3.737439,-38.583885
1109886,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:22,validacao_terminal,validacao_terminal,-3.737439,-38.583885
1109887,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:55:51,validacao_terminal,validacao_terminal,-3.737439,-38.583885
1109888,0,1,TERM.ANT.BEZERRA,36976,Inteira,2018-11-30 05:59:11,validacao_terminal,validacao_terminal,-3.737439,-38.583885

## 3.3 Coordenada das demais (algumas de BRT´s e outras validações na bilhetagem
''' O pressuposto inicial é que as validações que não possuem um id de identifcação dos veiculos correspondentes no GPS (pelo dicionario) são aquelas que os usuarios validaram no terminais, algumas podem ser de estações de BRT e de casos em que simplismente para os USUARIOS EM QUE A IDENTIFCAÇÃO DO VEICULOS NÃO POSSUI UM CORRESPONDENTE NO GPS, DEVIDO A FALTA DE UMA ASSOCIAÇÃO NO DICIONARIO, como ja foi abordado a localização das validações em terminais, basta realizar uma abordagem com as demais! '''

### 3.3.1 Identificando outras validações (possivel estação BRT´s e nos demais casos
''' Identifcação das validações em possiveis estaçoes de BRT e nos demais casos que não possuiam um veiculo correspondente no GPS'''

In [226]:
# Reatribuindo variavel com dados que estão na bilhetagem, mas não estão no dicionário e consequentemente não estão no GPS
dados_apenas_em_mes = dados_apenas_em_mes_

In [227]:
del dados_apenas_em_mes_

In [228]:
''' Foi utilizado a base "mes" pois ela tinha a coluna como numerica para comparação '''

' Foi utilizado a base "mes" pois ela tinha a coluna como numerica para comparação '

In [229]:
# Base com dados de validaçoes em terminais e em BRT
dados_apenas_em_mes

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
1296,7165982,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:22:49
1297,7455408,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:21
1298,7360199,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:31
1299,7360332,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 23:22:33
1300,7119083,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 22:56:38
...,...,...,...,...,...,...
928070,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 01:15:58
928071,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 01:16:35
928072,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 01:36:28
928073,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 01:47:36
928074,0,5,TERMINAL LAGOA,42986,Inteira,2018-11-30 00:03:20

In [230]:
# Dropando dados de terminais pois eles ja foram filtrados em uma base propria (OBS: O NOME SERÁ DADOS_BRT, MAS NÃO NECESSPARIAMENTE SÃO TODOS DE BRT´S!), MA
dados_brt_ = dados_apenas_em_mes[~dados_apenas_em_mes['nome_linha'].str.contains('TERMINAL', case=False)]
dados_brt = dados_brt_[~dados_brt_['nome_linha'].str.contains('TERM.ANT', case=False)]

In [231]:
dados_brt.reset_index(inplace=True)
dados_brt.drop(columns=['index'], inplace=True)

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\3731155808.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_brt.drop(columns=['index'], inplace=True)

In [232]:
# BASE COM DADOS DE VALIDAÇÕES SOMENTE PRESENTES NA BILHETAGEM (veiculos sem identifcação no dicionario)
dados_brt

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
0,7165982,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:22:49
1,7455408,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:21
2,7360199,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:31
3,7360332,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 23:22:33
4,7119083,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 22:56:38
...,...,...,...,...,...,...
2179944,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:28:01
2179945,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:34:25
2179946,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:40:20
2179947,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:41:30
2179948,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:46:19

In [233]:
# Dados das linhas existentes 
dados_brt['linha'].unique()

array([841, 610,  12, 619, 681, 806,  68,   4, 725, 712,  80, 703, 348,
       318, 753, 728, 754, 710, 757, 713,  87, 375, 605, 407, 333, 346,
       406, 629, 329, 311, 709, 752, 755, 762, 323, 706, 243, 324, 676,
       631, 221, 657, 690, 686, 386, 646, 980,  27, 335, 357, 635, 456,
       343, 401,  86,  50,  20, 639, 645, 670, 637,  15, 376, 382, 392,
       399, 317,  72,  21,  74,  56, 379, 366, 653, 211,  29, 115, 342,
       381, 466, 212,  32,  43, 621, 213, 372, 613, 993,  41, 618, 767,
        16, 606,  53,  55, 102, 377, 361, 642, 628, 390,  98, 680, 345,
       641,  99, 355, 622, 640,  11,  92,  73, 632, 101, 627,  31,  24,
        70, 855, 302, 974, 300,  75, 336, 174, 395])

In [234]:
'''OU SEJA, EXISTEM VALIDAÇÕES DE DIVERSAS LINHAS QUE NÃO TEM UM VEICULO CORRESPONDENTE NO GPS E NÃO SÃO VALIDAÇÕES EM TERMINAIS'''

'OU SEJA, EXISTEM VALIDAÇÕES DE DIVERSAS LINHAS QUE NÃO TEM UM VEICULO CORRESPONDENTE NO GPS E NÃO SÃO VALIDAÇÕES EM TERMINAIS'

### 3.3.2 Associação com o horario programado para localizar as validações em BRT´s e as demais
''' Dados de GTFS, possuem dados de localização das paradas e da viagens programdas, assim é possivem associar para uma mesma linha, e pelo horario mais proximo da validação com o programado de passagem para identificação do possivel local de validação '''

In [235]:
# Printando novamente dados com locias das paradas
stops_paradas

      stop_id                        stop_name  stop_lat   stop_lon
0          10       AVENIDA CEL CARVALHO, 1180 -3.702286 -38.590602
1        1000        RUA DOR JOAO MOREIRA, 489 -3.722157 -38.528991
2        1001        RUA DOR JOAO MOREIRA, 163 -3.723169 -38.526007
3        1009   AVENIDA TRISTÃO GONÇALVES, 500 -3.725926 -38.532847
4        1010           AVENIDA IMPERADOR, 550 -3.726137 -38.534206
...       ...                              ...       ...        ...
4533      991   RUA MON CARNEIRO DA CUNHA, 149 -3.724630 -38.541716
4534      992          RUA PEDRO PEREIRA, 1530 -3.726388 -38.538707
4535      993          RUA CASTRO E SILVA, 950 -3.721771 -38.533664
4536      994  AVENIDA PRS CASTELO BRANCO, 615 -3.719262 -38.531967
4537      999   AVENIDA PRS CASTELO BRANCO, NI -3.720936 -38.528643

[4538 rows x 4 columns]

In [236]:
# Importando base com horarios previstos de parada  
stop_times = pd.read_csv('stop_times.txt', sep= ',')

# Importando dados com viagens programadas de cada linha 
trips = pd.read_csv('trips.txt', sep=",")

In [237]:
# Removendo colunas desnecessárias do df com paradas 
stop_times.drop(columns= ['stop_headsign', 'pickup_type', 'drop_off_type', 'shape_dist_traveled'], inplace=True)

In [238]:
stop_times

                  trip_id arrival_time departure_time  stop_id  stop_sequence
0        D011-T01V01B01-I     05:13:00       05:13:00     3500              1
1        D011-T01V01B01-I     05:15:00       05:15:00     1013              2
2        D011-T01V01B01-I     05:16:00       05:16:00     1015              3
3        D011-T01V01B01-I     05:17:00       05:17:00     4251              4
4        D011-T01V01B01-I     05:18:00       05:18:00      990              5
...                   ...          ...            ...      ...            ...
2581120  U920-T06V07B02-I     19:38:00       19:38:00     6079              3
2581121  U920-T06V07B02-V     18:44:00       18:44:00     6079              1
2581122  U920-T06V07B02-V     19:09:00       19:09:00     5422              2
2581123  U920-T06V08B02-V     19:38:00       19:38:00     6079              1
2581124  U920-T06V08B02-V     20:03:00       20:03:00     5422              2

[2581125 rows x 5 columns]

In [239]:
# Acrescetando dados das paradas pela mesmo stop_id no df de tempos previstos de passagem
merge_pardas_time = pd.merge(stop_times, stops_paradas, left_on='stop_id', right_on='stop_id')

In [240]:
merge_pardas_time

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_name,stop_lat,stop_lon
0,D011-T01V01B01-I,05:13:00,05:13:00,3500,1,"PRAÇA CASTRO CARREIRO, SN",-3.722641,-38.530254
1,D011-T01V02B01-I,06:13:00,06:13:00,3500,19,"PRAÇA CASTRO CARREIRO, SN",-3.722641,-38.530254
2,D011-T01V03B01-I,07:19:00,07:26:00,3500,19,"PRAÇA CASTRO CARREIRO, SN",-3.722641,-38.530254
3,D011-T01V04B01-I,08:32:00,09:14:00,3500,19,"PRAÇA CASTRO CARREIRO, SN",-3.722641,-38.530254
4,D011-T01V05B01-I,10:22:00,10:26:00,3500,19,"PRAÇA CASTRO CARREIRO, SN",-3.722641,-38.530254
...,...,...,...,...,...,...,...,...
2581120,U690-T02V01B01-V,10:22:00,10:22:00,6256,13,"RUA JOSE MOREIRA, 593",-3.857633,-38.501887
2581121,U690-T03V01B01-I,16:30:00,16:30:00,6256,1,"RUA JOSE MOREIRA, 593",-3.857633,-38.501887
2581122,U690-T03V01B01-V,16:30:00,16:30:00,6256,13,"RUA JOSE MOREIRA, 593",-3.857633,-38.501887
2581123,U690-T04V01B01-I,20:54:00,20:54:00,6256,1,"RUA JOSE MOREIRA, 593",-3.857633,-38.501887
2581124,U690-T04V01B01-V,20:54:00,20:54:00,6256,13,"RUA JOSE MOREIRA, 593",-3.857633,-38.501887

In [241]:
# Removendo informações desnecessárias do df de dados das viagens
trips_tratado = trips.drop(columns=['service_id', 'trip_headsign', 'trip_short_name', 'direction_id', 'block_id', 'wheelchair_accessible'])

In [242]:
trips_tratado

       route_id           trip_id    shape_id
0            11  D011-T01V01B01-I  shape011-I
1            11  D011-T01V02B01-I  shape011-I
2            11  D011-T01V03B01-I  shape011-I
3            11  D011-T01V04B01-I  shape011-I
4            11  D011-T01V05B01-I  shape011-I
...         ...               ...         ...
83762       920  U920-T06V06B02-I  shape920-I
83763       920  U920-T06V06B02-V  shape920-V
83764       920  U920-T06V07B02-I  shape920-I
83765       920  U920-T06V07B02-V  shape920-V
83766       920  U920-T06V08B02-V  shape920-V

[83767 rows x 3 columns]

In [243]:
# MESCLANDO BASE COM INFORMAÇÕES DAS PARADAS E TEMPOS DE PASSAGENS COM OS DADSO DAS VIAGENS PROGRAMADAS E AS RESPECTIVAS LINHAS
merge_pardas_time_trips = pd.merge(merge_pardas_time, trips_tratado, left_on='trip_id', right_on='trip_id')

In [244]:
merge_pardas_time_trips

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_name,stop_lat,stop_lon,route_id,shape_id
0,D011-T01V01B01-I,05:13:00,05:13:00,3500,1,"PRAÇA CASTRO CARREIRO, SN",-3.722641,-38.530254,11,shape011-I
1,D011-T01V01B01-I,05:15:00,05:15:00,1013,2,"AVENIDA IMPERADOR, 270",-3.723690,-38.533477,11,shape011-I
2,D011-T01V01B01-I,05:16:00,05:16:00,1015,3,"RUA GUILHERME ROCHA, 1048",-3.724543,-38.535467,11,shape011-I
3,D011-T01V01B01-I,05:17:00,05:17:00,4251,4,"RUA GUILHERME ROCHA, SN",-3.723803,-38.537737,11,shape011-I
4,D011-T01V01B01-I,05:18:00,05:18:00,990,5,"RUA GUILHERME ROCHA, 1587",-3.723135,-38.539837,11,shape011-I
...,...,...,...,...,...,...,...,...,...,...
2581120,U020-T04V08B01-V,09:42:00,09:42:00,2288,1,"RUA PRO ARMANDO FARIAS, 90",-3.747765,-38.575754,20,shape020-V
2581121,U020-T04V08B01-V,09:43:00,09:43:00,2290,2,"RUA PRO ARMANDO FARIAS, 91",-3.747144,-38.573740,20,shape020-V
2581122,U020-T04V08B01-V,09:44:00,09:44:00,2006,3,"RUA PRO ARMANDO FARIAS, SN",-3.745899,-38.572436,20,shape020-V
2581123,U020-T04V08B01-V,09:47:00,09:47:00,2007,4,"RUA AURÉLIO CAMARÁ, SN",-3.742524,-38.574766,20,shape020-V
2581124,U020-T04V08B01-V,09:50:00,09:50:00,1995,5,"RUA ANDRADE FURTADO, SN",-3.739469,-38.572291,20,shape020-V

In [245]:
''' Por inspeção vimos que possuem horarios de chegada superiores a 24 hs, segue na variavel horario_test'''

' Por inspeção vimos que possuem horarios de chegada superiores a 24 hs, segue na variavel horario_test'

In [246]:
# Verificando dados de tempo maiores que 24 (inspessão)
horario_test = merge_pardas_time_trips[merge_pardas_time_trips.arrival_time>='24:00:00' ]

In [247]:
horario_test

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_name,stop_lat,stop_lon,route_id,shape_id
18193,D042-T11V07B02-V,24:24:00,24:24:00,6108,62,"PRAÇA TERMINAL ANTONIO BEZERRA, SN",-3.737485,-38.584186,42,shape042-V
18217,D042-T11V07B02-V,24:00:00,24:00:00,260,32,"AVENIDA FRANCISCO SA, 4626",-3.714544,-38.565806,42,shape042-V
18218,D042-T11V07B02-V,24:01:00,24:01:00,4685,33,"AVENIDA FRANCISCO SA, 4802",-3.713892,-38.567691,42,shape042-V
18220,D042-T11V07B02-V,24:02:00,24:02:00,226,35,"AVENIDA FRANCISCO SA, 5303",-3.712424,-38.571940,42,shape042-V
18221,D042-T11V07B02-V,24:03:00,24:03:00,228,36,"AVENIDA FRANCISCO SA, 5550",-3.711783,-38.573827,42,shape042-V
...,...,...,...,...,...,...,...,...,...,...
2578550,U214-T02V33B01-V,24:02:00,24:02:00,1457,11,"RUA PDE PERDIGAO SAMPAIO, 101",-3.734498,-38.595901,214,shape214-V
2578551,U214-T02V33B01-V,24:03:00,24:03:00,1456,12,"RUA PDE PERDIGAO SAMPAIO, 05",-3.732612,-38.596769,214,shape214-V
2578552,U214-T02V33B01-V,24:04:00,24:04:00,1441,13,"RUA XXV CIDADE OESTE, 2262",-3.731764,-38.598758,214,shape214-V
2578553,U214-T02V33B01-V,24:06:00,24:06:00,1436,14,"RUA DO TRABALHADOR, 2726",-3.730530,-38.603201,214,shape214-V
2578554,U214-T02V33B01-V,24:07:00,24:07:00,1434,15,"RUA STA MARIA GORETE, 2950",-3.729223,-38.603414,214,shape214-V

In [248]:
''' Esses dados são referentes as horarios de 24=00 hs e 25=01hs, foi adotado a substituição de 24 por 00 e 25 por 01 '''

' Esses dados são referentes as horarios de 24=00 hs e 25=01hs, foi adotado a substituição de 24 por 00 e 25 por 01 '

In [249]:
# transformanmdo dados de horas para string
merge_pardas_time_trips['arrival_time'] = merge_pardas_time_trips['arrival_time'].astype(str)

In [250]:
# Função para substituição
def substituir_hora_24(hora):
    return hora.replace("24", "00")
def substituir_hora_25(hora):
    return hora.replace("25", "01")

In [251]:
# Aplicando função para 24
merge_pardas_time_trips['arrival_time'] = merge_pardas_time_trips['arrival_time'].apply(substituir_hora_24)

# Aplicando função para 25
merge_pardas_time_trips['arrival_time'] = merge_pardas_time_trips['arrival_time'].apply(substituir_hora_25)

In [252]:
# Transformando coluna de chegada programada do veiculo em tipo data
merge_pardas_time_trips['momento_chegada'] = pd.to_datetime(merge_pardas_time_trips['arrival_time'], format='%H:%M:%S')

In [253]:
''' 1900-01-01 é uma data generica! '''

' 1900-01-01 é uma data generica! '

In [254]:
# Criando coluna de linha (coluna route_id tem essas informações das linhas!)
merge_pardas_time_trips['linha'] = merge_pardas_time_trips['route_id'].astype('int32')

In [255]:
# Removedno colunas desnecessarias
merge_pardas_time_trips.drop(columns=['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence', 'stop_name', 'route_id', 'shape_id'], inplace=True)

In [256]:
# Base com linhas e os tempos programados de passagem
merge_pardas_time_trips

         stop_lat   stop_lon     momento_chegada  linha
0       -3.722641 -38.530254 1900-01-01 05:13:00     11
1       -3.723690 -38.533477 1900-01-01 05:15:00     11
2       -3.724543 -38.535467 1900-01-01 05:16:00     11
3       -3.723803 -38.537737 1900-01-01 05:17:00     11
4       -3.723135 -38.539837 1900-01-01 05:18:00     11
...           ...        ...                 ...    ...
2581120 -3.747765 -38.575754 1900-01-01 09:42:00     20
2581121 -3.747144 -38.573740 1900-01-01 09:43:00     20
2581122 -3.745899 -38.572436 1900-01-01 09:44:00     20
2581123 -3.742524 -38.574766 1900-01-01 09:47:00     20
2581124 -3.739469 -38.572291 1900-01-01 09:50:00     20

[2581125 rows x 4 columns]

In [257]:
merge_pardas_time_trips.isnull().sum()

stop_lat                0
stop_lon                0
momento_chegada    447564
linha                   0
dtype: int64

In [258]:
''' ou seja, existem momentos nulos programados, iremos dropar esses valores!'''

' ou seja, existem momentos nulos programados, iremos dropar esses valores!'

In [259]:
merge_pardas_time_trips.dropna(subset=['momento_chegada'], inplace=True)

In [260]:
# colocando df em ordem pelo momento programado de chegada
merge_pardas_time_trips.sort_values('momento_chegada', inplace=True)

In [261]:
''' COM BASE CONTENDO HORARIO PROGRAMADO DE CHEGADA PARA CADA LINHA, É POSSIVEL ASSOCIAR O HORARIO PROGRAMADA MAIS PROXIMO DO HORARIO DE VALIDAÇÃO '''

' COM BASE CONTENDO HORARIO PROGRAMADO DE CHEGADA PARA CADA LINHA, É POSSIVEL ASSOCIAR O HORARIO PROGRAMADA MAIS PROXIMO DO HORARIO DE VALIDAÇÃO '

In [262]:
# Base dos dados de brt e demais validação sem um veiculo identificado no GPS
dados_brt

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento
0,7165982,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:22:49
1,7455408,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:21
2,7360199,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:31
3,7360332,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 23:22:33
4,7119083,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 22:56:38
...,...,...,...,...,...,...
2179944,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:28:01
2179945,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:34:25
2179946,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:40:20
2179947,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:41:30
2179948,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:46:19

In [263]:
# Criando coluna com dados de hoario, minuto e segundos de validação 
dados_brt['momento_validacao_curto'] = dados_brt['momento'].dt.strftime('%H:%M:%S')

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\497672285.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_brt['momento_validacao_curto'] = dados_brt['momento'].dt.strftime('%H:%M:%S')

In [264]:
# Transformando coluna de hoario de validação em tipo data
dados_brt['momento_validacao_curto'] = pd.to_datetime(dados_brt['momento_validacao_curto'], format='%H:%M:%S')

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\1223969118.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_brt['momento_validacao_curto'] = pd.to_datetime(dados_brt['momento_validacao_curto'], format='%H:%M:%S')

In [265]:
dados_brt # NOVAMENTE 1900-01-01 é uma data generica!

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,momento_validacao_curto
0,7165982,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:22:49,1900-01-01 16:22:49
1,7455408,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:21,1900-01-01 16:24:21
2,7360199,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 16:24:31,1900-01-01 16:24:31
3,7360332,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 23:22:33,1900-01-01 23:22:33
4,7119083,841,HGF/PAPICU,2131,Vale transporte,2018-11-01 22:56:38,1900-01-01 22:56:38
...,...,...,...,...,...,...,...
2179944,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:28:01,1900-01-01 07:28:01
2179945,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:34:25,1900-01-01 07:34:25
2179946,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:40:20,1900-01-01 07:40:20
2179947,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:41:30,1900-01-01 07:41:30
2179948,0,728,JOSE WALTER/ CENTRO,67252,Inteira,2018-11-30 07:46:19,1900-01-01 07:46:19

In [266]:
# colocando df em ordem pelo momento de validação 
dados_brt.sort_values('momento_validacao_curto', inplace=True)

C:\Users\Bolsista\AppData\Local\Temp\ipykernel_1400\3277456000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_brt.sort_values('momento_validacao_curto', inplace=True)

In [267]:
dados_brt.isnull().sum()

id                         0
linha                      0
nome_linha                 0
prefixo_carro              0
tipo_cartao                0
momento                    0
momento_validacao_curto    0
dtype: int64

In [268]:
# REALIZANDO OPERAÇÃO DE MESCLAGEM PARA LOCALIZAR PELO TEMPO MAIS PROXIMO DE PASSAGEM COM O DE VALIDAÇÃO 
dados_brt_geo_ = pd.merge_asof(dados_brt, merge_pardas_time_trips, left_on='momento_validacao_curto', right_on='momento_chegada', by='linha', direction ='nearest')

In [269]:
# Dropando colunas denecessárias
dados_brt_geo_.drop(columns=['momento_validacao_curto', 'momento_chegada'], inplace=True)

In [270]:
# Criando colun id_veiculo e cod_veiculo para mesclagem das bases
dados_brt_geo_['id_veiculo'] = 'validacao_brt_outros'
dados_brt_geo_['cod_veiculo'] = 'validacao_brt_outros'

In [271]:
dados_brt_geo_.rename(columns={'stop_lat': 'latitude', 'stop_lon': 'longitude'}, inplace=True)

In [272]:
# Reordenando colunas 
dados_brt_geo = dados_brt_geo_[['id', 'linha', 'nome_linha', 'prefixo_carro', 'tipo_cartao', 'momento', 'id_veiculo', 'cod_veiculo', 'latitude', 'longitude']]

In [273]:
del dados_brt_geo_

In [274]:
# BASE LOCALIZADA COM VALIDAÇÕES EM ESTAÇÕES DE BRT E EM CASOS QUE NÃO SE TEM UM VEICULO CORRESPONDENTE NO GPS
dados_brt_geo

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo,latitude,longitude
0,6954372,762,Caca e Pesca/Centro/,67926,Estudante,2018-11-23 00:00:05,validacao_brt_outros,validacao_brt_outros,-3.750196,-38.448727
1,7497973,629,Cj Palmeiras/Perimet,35136,Vale transporte,2018-11-08 00:00:17,validacao_brt_outros,validacao_brt_outros,-3.835546,-38.521672
2,2673835,629,Cj Palmeiras/Perimet,35136,Estudante,2018-11-09 00:00:27,validacao_brt_outros,validacao_brt_outros,-3.835546,-38.521672
3,0,762,Caca e Pesca/Centro/,67357,Inteira,2018-12-01 00:00:40,validacao_brt_outros,validacao_brt_outros,-3.754544,-38.446605
4,7217445,762,Caca e Pesca/Centro/,67357,Vale transporte,2018-12-01 00:00:44,validacao_brt_outros,validacao_brt_outros,-3.754544,-38.446605
...,...,...,...,...,...,...,...,...,...,...
2179944,0,762,Caca e Pesca/Centro/,67926,Inteira,2018-11-23 23:59:41,validacao_brt_outros,validacao_brt_outros,-3.766244,-38.440909
2179945,2361605,762,Caca e Pesca/Centro/,67926,Vale transporte,2018-11-23 23:59:46,validacao_brt_outros,validacao_brt_outros,-3.766244,-38.440909
2179946,0,762,Caca e Pesca/Centro/,67357,Inteira,2018-11-30 23:59:48,validacao_brt_outros,validacao_brt_outros,-3.766244,-38.440909
2179947,5372257,629,Cj Palmeiras/Perimet,35136,Vale transporte,2018-11-23 23:59:49,validacao_brt_outros,validacao_brt_outros,-3.833903,-38.521620
2179948,0,629,Cj Palmeiras/Perimet,35136,Inteira,2018-11-28 23:59:52,validacao_brt_outros,validacao_brt_outros,-3.833903,-38.521620

## 3.4 JUNÇÃO DAS VALIDAÇÕES LOCALIZADAS EM UMA UNICA BASE
''' COM DADOS DE VALIDAÇÕES LOCALIZADOS EM TERMINAIS, EM LINHAS DE BRT´s E EM VALIDAÇÕES EM LINHAS DE ONIBUS CONVENCIONAIS É POSSIVEL JUNTAR ESSAS EM UMA UNICA BASE'''

In [275]:
# Concatenando base em um unico df
bilhetagem_localizada = pd.concat([mes_d1_GPS, dados_terminais_geo, dados_brt_geo])

In [276]:
# Base localizada
bilhetagem_localizada

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo,latitude,longitude
0,6495289,95,Corujao/Cj Pref. Jos,26407,Gratuidade,2018-11-01 00:01:21,32409,26407,-3.838164,-38.558586
1,0,54,Corujao/Praia do Fut,30426,Inteira,2018-11-01 00:11:05,33276,30426,-3.740973,-38.539021
2,6730926,57,Corujao/Jardim Irace,35120,Vale transporte,2018-11-01 00:12:16,33801,35120,-3.722791,-38.530235
3,4841184,57,Corujao/Jardim Irace,35120,Vale transporte,2018-11-01 00:12:30,33801,35120,-3.722791,-38.530235
4,7317420,90,Corujao/Montese,12219,Vale transporte,2018-11-01 00:13:58,33637,12219,-3.780263,-38.570004
...,...,...,...,...,...,...,...,...,...,...
2179944,0,762,Caca e Pesca/Centro/,67926,Inteira,2018-11-23 23:59:41,validacao_brt_outros,validacao_brt_outros,-3.766244,-38.440909
2179945,2361605,762,Caca e Pesca/Centro/,67926,Vale transporte,2018-11-23 23:59:46,validacao_brt_outros,validacao_brt_outros,-3.766244,-38.440909
2179946,0,762,Caca e Pesca/Centro/,67357,Inteira,2018-11-30 23:59:48,validacao_brt_outros,validacao_brt_outros,-3.766244,-38.440909
2179947,5372257,629,Cj Palmeiras/Perimet,35136,Vale transporte,2018-11-23 23:59:49,validacao_brt_outros,validacao_brt_outros,-3.833903,-38.521620
2179948,0,629,Cj Palmeiras/Perimet,35136,Inteira,2018-11-28 23:59:52,validacao_brt_outros,validacao_brt_outros,-3.833903,-38.521620

In [277]:
# Exportando base localizada para csv
# bilhetagem_localizada.to_csv('bilhetagem_localizada_11_2018')

### 3.4.1 Filtrando veiculos em trecho com estações de BRT

In [278]:
# Na base dos veiculos em fora de terminais e que possuem um veiculo associado do GPS
validacoes_base_mes_d1_GPS = mes_d1_GPS[(mes_d1_GPS.latitude>=-3.736011)
    & (mes_d1_GPS.longitude>=-38.566622) & (mes_d1_GPS.longitude<=-38.545669) 
                                & (mes_d1_GPS.latitude<=-3.731734)]

In [279]:
# 
validacoes_base_mes_d1_GPS['linha'].unique()

array([363, 215,  24,  26, 214,  28,  86, 217, 216,  88,  42, 220, 120,
       108,  76,  74, 222,  52, 225,  71,  92,  79, 226, 200,  51, 244,
        32, 855,  60, 389, 111,  31,  81,  50, 711, 627,  98, 286, 341,
        99,  34,  35,  37, 302,  39,  12, 130,  75, 602,  97,  16,  45,
       114, 320, 841, 820, 650, 303,  66,  44, 343, 205, 906,  41,  72,
       350,  56,  77, 122,  82, 206, 102,  69, 504,  11, 340, 364,  61,
        80, 372, 622, 616,   1,  70, 330,  15, 174, 383])

In [280]:
validacoes_base_mes_d1_GPS[validacoes_base_mes_d1_GPS.linha==855]

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo,latitude,longitude
271033,0,855,Bezerra de Menezes/,30511,Inteira,2018-11-01 08:58:05,33289,30511,-3.731995,-38.546726
271209,7464783,855,Bezerra de Menezes/,30511,Vale transporte,2018-11-01 08:58:22,33289,30511,-3.731995,-38.546726
271354,0,855,Bezerra de Menezes/,30511,Inteira,2018-11-01 08:58:36,33289,30511,-3.732145,-38.547394
271501,2083501,855,Bezerra de Menezes/,30511,Gratuidade,2018-11-01 08:58:48,33289,30511,-3.732145,-38.547394
272254,6506979,855,Bezerra de Menezes/,30511,Estudante,2018-11-01 08:59:47,33289,30511,-3.732979,-38.551594
...,...,...,...,...,...,...,...,...,...,...
21599165,7459357,855,Bezerra de Menezes/,20593,Vale transporte,2018-11-30 23:24:01,33187,20593,-3.733346,-38.553333
21599288,0,855,Bezerra de Menezes/,20593,Inteira,2018-11-30 23:25:50,33187,20593,-3.734233,-38.557800
21599292,0,855,Bezerra de Menezes/,20593,Inteira,2018-11-30 23:25:54,33187,20593,-3.734233,-38.557800
21599338,7301897,855,Bezerra de Menezes/,20593,Vale transporte,2018-11-30 23:27:02,33187,20593,-3.734828,-38.560841
21599377,7281462,855,Bezerra de Menezes/,30521,Vale transporte,2018-11-30 23:27:47,33307,30521,-3.732603,-38.549587

In [281]:
validacoes_base_mes_d1_GPS[validacoes_base_mes_d1_GPS.linha==86]

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo,latitude,longitude
187404,0,86,Bezerra / S.Dumont,30315,Inteira,2018-11-01 07:29:06,33183,30315,-3.735648,-38.564373
187586,7319892,86,Bezerra / S.Dumont,30315,Vale transporte,2018-11-01 07:29:13,33183,30315,-3.735648,-38.564373
190313,7104004,86,Bezerra / S.Dumont,30315,Vale transporte,2018-11-01 07:31:13,33183,30315,-3.734476,-38.558712
228720,0,86,Bezerra / S.Dumont,30121,Inteira,2018-11-01 08:05:34,32956,30121,-3.735615,-38.564362
229191,7319711,86,Bezerra / S.Dumont,30121,Vale transporte,2018-11-01 08:06:04,32956,30121,-3.735405,-38.563084
...,...,...,...,...,...,...,...,...,...,...
21598691,3920426,86,Bezerra / S.Dumont,30202,Estudante,2018-11-30 23:17:53,33044,30202,-3.735446,-38.563835
21598722,7232367,86,Bezerra / S.Dumont,30202,Vale transporte,2018-11-30 23:18:08,33044,30202,-3.735443,-38.563835
21598743,7207583,86,Bezerra / S.Dumont,30202,Vale transporte,2018-11-30 23:18:23,33044,30202,-3.735443,-38.563835
21598775,5307942,86,Bezerra / S.Dumont,30202,Estudante,2018-11-30 23:18:49,33044,30202,-3.735693,-38.565025
21600365,0,86,Bezerra / S.Dumont,30311,Inteira,2018-11-30 23:50:38,33166,30311,-3.732073,-38.547318

In [282]:
validacoes_base_mes_d1_GPS[validacoes_base_mes_d1_GPS.prefixo_carro==30530]

Empty DataFrame
Columns: [id, linha, nome_linha, prefixo_carro, tipo_cartao, momento, id_veiculo, cod_veiculo, latitude, longitude]
Index: []

In [283]:
# Filtrando linhas especifica
linha_especifica = validacoes_base_mes_d1_GPS[validacoes_base_mes_d1_GPS.nome_linha== 'Antonio Bezerra/Papi']

In [284]:
tempo_especifico = linha_especifica[(linha_especifica.momento>= '2018-11-01 08:33:23')
    & (linha_especifica.momento<= '2018-11-01 08:36:02')]

In [285]:
# df com validações em uma mesma linha, mesmo veiculo e momentos seguindos
# tempo_especifico

In [286]:
validacoes_base_mes_d1_GPS['linha'].value_counts().sum()

145954

In [287]:
# Na base dos veiculos em fora de terminais e que não possuem um veciulo associado no GPS 
validacoes_base_dados_brt_geo = dados_brt_geo[(dados_brt_geo.latitude>=-3.736011)
    & (dados_brt_geo.longitude>=-38.566622) & (dados_brt_geo.longitude<=-38.545669) 
                                & (dados_brt_geo.latitude<=-3.731734)]

In [288]:
validacoes_base_dados_brt_geo['nome_linha'].unique() # Nenhuma linha com nome estação!

array(['BARRA DO CEARA/ANTON', 'Bezerra / S.Dumont', 'VILA VELHA/ CENTRO',
       'CONJ. ALVORADA/ NORT', 'SANTOS DUMONT/ PERIM',
       'Bezerra de Menezes/ '], dtype=object)

In [289]:
validacoes_base_dados_brt_geo['linha'].unique() # Nenhuma linha com nome estação!

array([706,  86, 757, 755, 713, 855])

In [290]:
validacoes_base_dados_brt_geo[validacoes_base_dados_brt_geo.linha==855]

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo,latitude,longitude
896105,0,855,Bezerra de Menezes/,30530,Inteira,2018-11-25 11:26:18,validacao_brt_outros,validacao_brt_outros,-3.733243,-38.552973
953888,7011556,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 11:54:16,validacao_brt_outros,validacao_brt_outros,-3.732564,-38.549467
1285378,0,855,Bezerra de Menezes/,30530,Inteira,2018-11-25 14:26:08,validacao_brt_outros,validacao_brt_outros,-3.733666,-38.554837
1286014,0,855,Bezerra de Menezes/,30530,Inteira,2018-11-25 14:26:28,validacao_brt_outros,validacao_brt_outros,-3.733666,-38.554837
1555626,4998085,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 16:30:00,validacao_brt_outros,validacao_brt_outros,-3.734092,-38.556989
1555968,111650,855,Bezerra de Menezes/,30530,Estudante,2018-11-25 16:30:07,validacao_brt_outros,validacao_brt_outros,-3.734092,-38.556989
1698400,6842252,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 17:17:54,validacao_brt_outros,validacao_brt_outros,-3.731971,-38.546775
1703130,7007659,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 17:19:27,validacao_brt_outros,validacao_brt_outros,-3.732564,-38.549467
1788388,7434660,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 17:47:29,validacao_brt_outros,validacao_brt_outros,-3.731971,-38.546775
1857336,6844697,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 18:10:45,validacao_brt_outros,validacao_brt_outros,-3.733666,-38.554837
1857753,4937605,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 18:10:53,validacao_brt_outros,validacao_brt_outros,-3.733666,-38.554837
1916167,7010385,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 18:31:31,validacao_brt_outros,validacao_brt_outros,-3.732564,-38.549467
1922544,0,855,Bezerra de Menezes/,30530,Inteira,2018-11-25 18:34:01,validacao_brt_outros,validacao_brt_outros,-3.734564,-38.559192
1996821,0,855,Bezerra de Menezes/,30530,Inteira,2018-11-25 19:08:26,validacao_brt_outros,validacao_brt_outros,-3.735704,-38.564702
2023192,2875558,855,Bezerra de Menezes/,30530,Estudante,2018-11-25 19:22:38,validacao_brt_outros,validacao_brt_outros,-3.731971,-38.546775
2023310,6009215,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 19:22:42,validacao_brt_outros,validacao_brt_outros,-3.731971,-38.546775
2023450,6009215,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 19:22:47,validacao_brt_outros,validacao_brt_outros,-3.731971,-38.546775
2023711,2495041,855,Bezerra de Menezes/,30530,Estudante,2018-11-25 19:22:57,validacao_brt_outros,validacao_brt_outros,-3.731971,-38.546775
2095559,7413999,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 20:22:19,validacao_brt_outros,validacao_brt_outros,-3.735704,-38.564702
2098979,7190781,855,Bezerra de Menezes/,30530,Vale transporte,2018-11-25 20:26:02,validacao_brt_outros,validacao_brt_outros,-3.733666,-38.554837
2111234,0,855,Bezerra de Menezes/,30530,Inteira,2018-11-25 20:41:08,validacao_brt_outros,validacao_brt_outros,-3.733243,-38.552973

In [291]:
validacoes_base_dados_brt_geo[validacoes_base_dados_brt_geo.linha==86]

,id,linha,nome_linha,prefixo_carro,tipo_cartao,momento,id_veiculo,cod_veiculo,latitude,longitude
10584,4272848,86,Bezerra / S.Dumont,35510,Gratuidade,2018-11-10 05:02:15,validacao_brt_outros,validacao_brt_outros,-3.733666,-38.554837
22918,7372895,86,Bezerra / S.Dumont,35510,Vale transporte,2018-11-24 05:19:34,validacao_brt_outros,validacao_brt_outros,-3.732564,-38.549467
23266,7542363,86,Bezerra / S.Dumont,35510,Vale transporte,2018-11-17 05:19:55,validacao_brt_outros,validacao_brt_outros,-3.732564,-38.549467
28861,7319876,86,Bezerra / S.Dumont,35510,Vale transporte,2018-11-17 05:24:39,validacao_brt_outros,validacao_brt_outros,-3.734564,-38.559192
29075,5017935,86,Bezerra / S.Dumont,35510,Vale transporte,2018-11-17 05:24:50,validacao_brt_outros,validacao_brt_outros,-3.734564,-38.559192
...,...,...,...,...,...,...,...,...,...,...
2068972,2892972,86,Bezerra / S.Dumont,35510,Estudante,2018-11-03 19:56:57,validacao_brt_outros,validacao_brt_outros,-3.735207,-38.562425
2071999,0,86,Bezerra / S.Dumont,35510,Inteira,2018-11-17 19:59:48,validacao_brt_outros,validacao_brt_outros,-3.733243,-38.552973
2075045,6359673,86,Bezerra / S.Dumont,35510,Vale transporte,2018-11-24 20:02:34,validacao_brt_outros,validacao_brt_outros,-3.735207,-38.562425
2075213,0,86,Bezerra / S.Dumont,35510,Inteira,2018-11-24 20:02:44,validacao_brt_outros,validacao_brt_outros,-3.735207,-38.562425
2075302,0,86,Bezerra / S.Dumont,35510,Inteira,2018-11-24 20:02:49,validacao_brt_outros,validacao_brt_outros,-3.735207,-38.562425

In [292]:
validacoes_base_dados_brt_geo['linha'].value_counts().sum()

38874

In [293]:
''' OU SEJA, NESSE TRECHO EXISTEM 10 ESTAÇÕES DE BRT E NASA DUAS BASES SOMENTE TEM UMA NA PRIMERIA QUE TEM NOME ESTAÇÃO! E NA BASE QUE NÃO POSSUEM VEICULOS ASSOCIADOS, FORAM DE VALIDAÇÕES EM SOMENTE ALGUAMS LINHAS, E AS DEMAIS VALIDAÇÕES NOS CASOS QUE POSSUEM UM VEICULO CORRESPONDENTE NO GPS, EXISTEM TAMBEM LINHAS QUE PASSAM NESSAS ESTAÇÕES E ELAS POSSUEM NOMES PROPRIOS E NÃO O NOME DA ESTAÇÃO!'''

' OU SEJA, NESSE TRECHO EXISTEM 10 ESTAÇÕES DE BRT E NASA DUAS BASES SOMENTE TEM UMA NA PRIMERIA QUE TEM NOME ESTAÇÃO! E NA BASE QUE NÃO POSSUEM VEICULOS ASSOCIADOS, FORAM DE VALIDAÇÕES EM SOMENTE ALGUAMS LINHAS, E AS DEMAIS VALIDAÇÕES NOS CASOS QUE POSSUEM UM VEICULO CORRESPONDENTE NO GPS, EXISTEM TAMBEM LINHAS QUE PASSAM NESSAS ESTAÇÕES E ELAS POSSUEM NOMES PROPRIOS E NÃO O NOME DA ESTAÇÃO!'

# 4.0 Plotagem da bilhetagem georreferenciada

In [ ]:
# INSTALANDO A BIBLIOTECA GEOPANDAS COM CONDA
# !conda install geopandas -y

# instalando com pip
!pip install-q geopandas

In [ ]:
# mostrar a versão da biblioteca 
# !pip list geopandas

In [ ]:
# instalando a biblioteca matplotlib com conda
# !conda install matplotlib -y

# instalando com pip
!pip install -q matplotlib

In [ ]:
# mostrar a versão da biblioteca 
# !pip list matplotlib

In [ ]:
# importando as bibliotecas
import geopandas as gpd
import matplotlib.pyplot as plt

## 4.2 Leitura de dados espaciais

In [ ]:
# Ler os dados com geopandas
ceara_muni = gpd.read_file('CE_Municipios_2022.shp')

### 4.2.1 Visualização dos dados

In [ ]:
# Visualização
# ceara_muni.plot(figsize=(16,14), facecolor='white', edgecolor='black') 
#plt.show()

### 4.2.2 Filtro somente da capital

In [ ]:
# Salvando somente a capital 'Fortaleza'
fortal = ceara_muni[ceara_muni.NM_MUN=='Fortaleza']
fortal_p = fortal.iloc[0].geometry

In [ ]:
# Mostrar capital 
fortal_p

In [ ]:
# Salvar o geodataframe com formato geojson
filename =  'fortal.json'
fortal.to_file(filename, driver='GeoJSON')

In [ ]:
fortall = gpd.read_file(filename, driver='GeoJSON')

In [ ]:
fortall

### 4.2.3 Modelo de dados espaciais e criação de coluna geometrica

In [ ]:
# Instalando biblioteca shapely com pip
!pip install -q shapely
# Mostrar versão da biblioteca 
# !pip list shapely

In [ ]:
# importando os objetos geométricos da biblioteca shapely
from shapely.geometry import Point, LineString, Polygon

In [ ]:
# Criando coluna geometerica no df (mes_d1_GPS)
# mes_d1_GPS['geometry'] = None 
# for index, row in mes_d1_GPS.iterrows():
    #mes_d1_GPS.loc[index, 'geometry'] = Point(row.latitude, row.longitude)

In [ ]:
# mes_d1_GPS

In [ ]:
# Criando coluna geometerica no df (mes_d1_GPS)
# mes_d1_GPS['geometry'] = mes_d1_GPS.apply(lambda x: Point((float(x.longitude), float(x.latitude))), axis=1)

In [ ]:
# tipos de dados 
# type(mes_d1_GPS)

In [ ]:
# Criando um GeoDataFrame 
# mes_d1_GPS_geodat_ = gpd.GeoDataFrame(mes_d1_GPS, geometry='geometry')

In [ ]:
# mostar dados
# mes_d1_GPS_geodat_= mes_d1_GPS

In [ ]:
# Salvar o geodataframe com formato geojson
# filename2 =  'mes_d1_GPS_geodat_.json'
# mes_d1_GPS_geodat_.to_file(filename2, driver='GeoJSON')

In [ ]:
# mes_d1_GPS_geodat = gpd.read_file(filename2, driver='GeoJSON')

In [ ]:
# plotando dados (visualização)
# mes_d1_GPS_geodat.plot(figsize=(8,8), facecolor='white', edgecolor='black')

In [ ]:
# type(mes_d1_GPS_geodat)

### 4.2.4 Operação de interseção entre geometrias

In [ ]:
# Mostrar os dados simultaneamente
# fig, ax = plt.subplots(figsize=(15,15))

# mes_d1_GPS_geodat.plot(ax=ax)
# fortall.plot(ax=ax, facecolor='None', edgecolor='black')

In [ ]:
# VERIFICAMOS QUE EXISTEM DADOS GEORREFERENCIADOS FORA DA MALHA DA CIDADE, PODENDO SER NA SUA MAIORIA REGISTRO DOS VEICULOS
# QUANDO SE DESLOCARAM PARA OUTRAS ZONAS, OU ATÉ MESMO ERROS DO APARELHO DE GPS, COMO MOSTRA NA FIGURA ACIMA UM REGISTRO 
# PRATICAMENTE NO MAR.

In [ ]:
# Realizar operação de interseção entre geometrias
# mes_geo_fortal = mes_d1_GPS_geodat[mes_d1_GPS_geodat.intersects(fortal_p)]

In [ ]:
# mes_geo_fortal.info()

In [ ]:
# NOTAMOS QUE DOS 891038 DADOS DE VALIDAÇÕES APENAS 825386 foram localizadas dentro da malha da cidade, seguimos com estas!

In [ ]:
# Mostrar os dados simultaneamente após interseção
# fig, ax = plt.subplots(figsize=(10,10))

# mes_geo_fortal.plot(ax=ax)
# fortall.plot(ax=ax, facecolor='None', edgecolor='black')

In [ ]:
# Salvando os dados georreferenciados em fortaleza 
# filename3 = 'mes_geo_fortal.json'

# mes_geo_fortal.to_file(filename3, driver='GeoJSON')

### 4.2.5 Mostrando dados no mapa de agrupamento (clusters)

In [ ]:
# Instalando biblioteca folium com pip!
!pip install -q folium

In [ ]:
# importando biblioteca folium e pluging
import folium 
from folium.plugins import FastMarkerCluster

In [ ]:
# Criar mapa de agrupamentos (clusters)
# media_long = mes_geo_fortal['longitude'].mean()
# media_lat = mes_geo_fortal['latitude'].mean()

# mapa = folium.Map(location=[media_lat, media_long])

In [ ]:
# Transformando dados em uma feat geojson
# mc = FastMarkerCluster(mes_geo_fortal[['latitude', 'longitude']])

In [ ]:
# Poligonal da cidade no mapa
limites = folium.features.GeoJson(fortall, style_function=lambda feature:{'color': 'black', 'weight': 2, 'fillOpacity':0.0})

In [ ]:
# Adicionando dados no mapa
# mapa.add_child(mc)
# mapa.add_child(limites)

In [ ]:
# Salvar o nosso mapa em um arquivo html
# mapa.save('validações_georreferenciadas.html')

### 4.2.6 Mostrando dados no mapa de calor (Heatmap)

In [ ]:
# Importando a plugin HeatMap
from folium.plugins import HeatMap

In [ ]:
# Criando mapa II

# mapa_2 = folium.Map(location=[media_lat, media_long]) 

# Criando heat_map
# heat_map = HeatMap(mes_geo_fortal[['latitude', 'longitude']])

In [ ]:
# Adicionando no map
# mapa_2.add_child(heat_map)
# mapa_2.add_child(limites)

In [ ]:
# Salvar o nosso mapa em um arquivo html
# mapa_2.save('validações_georreferenciadas_Heatmap_calor.html')

# ------------------------------------------------------------------------